.welcome-card-container {
    width: 100vw;
    height: 40vh;
    position: relative;
    box-shadow: 0 0 calc(.5em + 2px) rgba(0, 0, 0, .5);
}

.welcome-card {
    width: 100%;
    height: 100%;
    /* Background Image */
    background-image: url('../../assets/home/coolboicode.png');
    background-size: cover;
    background-position: center;
    /* Center Children */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.bg-overlay {
    width: 100%;
    height: 100%;
    background-color: navy;
    /*background-image: linear-gradient(#23232a, #000000);*/
    opacity: 0.1;
    position: absolute;
}

.welcome-card * {
    color: white;
    z-index: 10;
    margin: 0 0 0 0;
}
 
.welcome-card p {
    padding-top: 10px;
}

.welcome-title {
    font-size: 32px;
    padding-bottom: 5px;
}

.welcome-subtitle {
    font-size: 24px;
    padding-top: 5px;
}

/* ----------- TVs ----------- */
@media screen and (min-width: 2200px) {
}

/* ----------- Laptops ----------- */
@media screen and (min-width: 1400px) and (max-width: 2199px) {
    .welcome-title {
        font-size: 60px !important;
    }

    .welcome-subtitle {
        font-size: 35px !important;
    }
}

/* ----------- Ipad Big ----------- */
@media screen and (min-width: 982px) and (max-width: 1399px) {
    .welcome-title {
        font-size: 55px !important;
    }

    .welcome-subtitle {
        font-size: 40px !important;
    }
}

/* ----------- Ipad Small ----------- */
@media screen and (min-width: 768px) and (max-width: 981px) {
    .welcome-title {
        font-size: 40px !important;
    }
    
    .welcome-subtitle {
        font-size: 30px !important;
    }
}

