.blog-container {
  max-width: 70%;
}

.blog-header {
  font-size: calc(1.2rem + 1.5vw) !important;
}

.blog-content {
  font-size: calc(1rem + 0.4vw) !important;
}

.blog-image {
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 575px) {
  .blog-container {
    max-width: 100% !important;
  }
}

@media screen and (max-width: 767px) and (min-width: 576px) {
  .blog-container {
    max-width: 95% !important;
  }
}

@media screen and (max-width: 991px) and (min-width: 768px) {
  .blog-container {
    max-width: 85% !important;
  }
}

@media screen and (max-width: 1199px) and (min-width: 992px) {
  .blog-container {
    max-width: 75% !important;
  }
}