.box {
    background-color: white;
    border-radius: 30px;
    
    height: auto;
    width: 80vw;
    z-index: 50;
}

.header {
    margin-block-start: 0.67em;
    margin-block-end: 0;
    font-size: calc(28px + (48 - 28) * ((100vw - 300px) / (1600 - 300)));
    font-weight: 500;
}

.subheader {
    margin: .1em 0 0 0;
    font-size: calc(12px + (28 - 12) * ((100vw - 300px) / (1600 - 300)));
    color: black;
    opacity: 0.7;
}

.shadow-big {
    box-shadow:
            0 0 2.2px rgba(0, 0, 0, 0.06),
            0 0 5.3px rgba(0, 0, 0, 0.07),
            0 0 10px rgba(0, 0, 0, 0.09),
            0 0 17.9px rgba(0, 0, 0, 0.11),
            0 0 33.4px rgba(0, 0, 0, 0.13),
            0 0 50px rgba(0, 0, 0, 0.16)
;
}

.payment-option {
    position: relative;
    height: 6vh;
    width: 75%;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 1px;
}

.payment-option img {
    height: 50%;
    pointer-events: none;
}

.payment-overlay {
    background-color: black;
    opacity: 0;
    transition: 0.3s;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    z-index: 50;
}

.payment-overlay:hover {
    cursor: pointer;
    opacity: 0.05;
}

.payment-overlay:active {
    cursor: pointer;
    opacity: 0.15;
}

/* ----------- TVs ----------- */
@media screen and (min-width: 2200px) {
    .box {
        width: 20vw !important;
    }
}

/* ----------- Laptops ----------- */
@media screen and (min-width: 1400px) and (max-width: 2199px) {
    .box {
        width: 30vw !important;
    }
}

/* ----------- Ipad Big ----------- */
@media screen and (min-width: 981px) and (max-width: 1399px) {
    .box {
        width: 40vw !important;
    }
}

/* ----------- Ipad Small ----------- */
@media screen and (min-width: 768px) and (max-width: 980px) {
    .box {
        width: 50vw !important;
    }
}